<div>
    <table class="table table-striped">
        <tr><th>Films (title) </th><th>Vehicles (name)</th><th>Starships (name) </th></tr>
        <tr><Td>{{con.title}}</Td><td>{{col.name}}</td><td>{{com.name}}</td></tr>
      </table>
    </div>
    
    
        <!-- <tr id="tr"><table>
            <tr><th>Director</th><th>Producer</th><th>Release date</th></tr>
            <tr><td>{{con.director}}</td><td>{{con.producer}}</td><td>{{con.release_date}}</td></tr>
            </table></tr> 
        -->





